# Mac OS junk
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
.idea/

# Executables
*.exe
*.out
*.app


# Ignore everything in resources/
resources/**

# But allow dictionaries.yaml
!resources/dictionaries.yaml

# Allow folder structure only, not contents
!resources/parsers/
!resources/parsers/**/
# Deny index and pages subfolders explicitly
resources/parsers/**/index/
resources/parsers/**/pages/

